@{
    ViewData["Title"] = "AspNetCoreEfCoreTemplate";
}

<h1 class="title">AspNetCoreEfCoreTemplate</h1>
<p class="subtitle">Welcome</p>
<hr />

<div class="columns">
    <div class="column is-7">
        <div class="notification is-light">
            <div class="content">
                <h6>Instructions</h6>
                <ol>
                    <li>Open <code>appsettings.json</code> and replace <code>[DatabaseNameHere]</code> under <code>DefaultConnection</code> to a suitable database name of your choice.</li>
                    <li>Open the package manager console and run <code>update-database</code>, remove or replace the <code>ExampleEntity</code> if you like</li>
                    <li>Right click on <code>site.scss</code> and select compile file under Web Compiler, you might have to install some extensions to get this functionality.</li>
                </ol>
            </div>
        </div>
    </div>
</div>